<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>You have received a message from your site's contact form, Name: <%= "#{@name }"%>, Email: <%= "#{ @email}."%></p>
    <p>Body: <%= @body %></p>
  </body>
</html>
