<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>you have received a message from the site's contact form, from <%= "#{@name }, #{ @email}."%></p>
    <p><%= @body %></p>
  </body>
</html>
